#nav-mobile {
  position: fixed; 
  top: 0;
  left: 0;
  width: 220px; 
  height: 100vh;
  background: white; 
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
 
}

#nav-mobile.active {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  pointer-events: auto;
  opacity: 1;
}
#nav-mobile.dark-mode {
  background: #222;
  color: #fff;
}
#nav-mobile.dark-mode a,
#nav-mobile.dark-mode .icon {
  color: #fff;
}
#nav-mobile ul li a {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#nav-mobile ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: orange; /* màu line, có thể đổi */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

#nav-mobile ul li:hover a::after {
  transform: scaleX(1);
}
